<p style="color: green"><%= notice %></p>

<%= render @product_group %>

<div>
  <%= link_to "Edit this product group", edit_product_group_path(@product_group) %> |
  <%= link_to "Back to product groups", product_groups_path %>

  <%= button_to "Destroy this product group", @product_group, method: :delete %>
</div>
